<h4 *ngIf="!allowEdit">You are not allow to edit!</h4>
<div *ngIf="allowEdit" class="col-12">
  <div class="mb-3">
    <label for="serverName" class="form-label">Server Name</label>
    <input
      type="text"
      class="form-control"
      id="serverName"
      [(ngModel)]="serverName"
    />
  </div>
  <div class="mb-3">
    <label for="serverStatus" class="form-label">Server Status</label>
    <select class="form-select" [(ngModel)]="serverStatus">
      <option value="online">Online</option>
      <option value="offline">Offline</option>
      <option value="hidden">Hidden</option>
    </select>
  </div>
  <button class="btn btn-primary mb-3">Update Server</button>
</div>

