<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="my-3">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!recipeForm.valid"
        >
          Save
        </button>
        <button class="btn btn-danger mx-3" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
      <div class="row">
        <div class="mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label for="imageURL">Image URL</label>
          <input
            type="text"
            id="imageURL"
            class="form-control"
            formControlName="imageURL"
            #imagePath
          />
        </div>
      </div>
      <div class="row" *ngIf="imagePath.value !== ''">
        <div class="mb-3">
          <img
            [src]="imagePath.value"
            alt="recipe image"
            class="img-thumbnail"
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label for="description">Description</label>
          <textarea
            id="description"
            name="description"
            rows="5"
            class="form-control"
            formControlName="description"
          ></textarea>
        </div>
      </div>

      <div class="row" formArrayName="recipeIngredients">
        <div class="col-12">
          <div
            class="row my-3"
            *ngFor="
              let recipeIngredient of getRecipeFormControls();
              let idx = index
            "
            [formGroupName]="idx"
          >
            <div class="col-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteRecipe(idx)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

