<div class="row my-4">
  <div class="col-12">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          required
        />
        <button class="btn btn-outline-primary mt-3">
          Suggest an Username
        </button>
      </div>
      <div class="mb-3">
        <label for="mail" class="form-label">Mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="secret-question" class="form-label">Secret Questions</label>
        <select class="form-select" id="secret-question">
          <option value="pet">Your first Pet?</option>
          <option value="teacher">Your first Teacher?</option>
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control mb-3"> </textarea>
        <!-- <p>Your reply: {{ answer }}</p> -->
      </div>
      <div class="radio my-3" *ngFor="let gender of genders">
        <label class="my-1"
          ><input
            class="mx-1"
            type="radio"
            [value]="gender"
            formControlName="gender"
          />{{ gender }}</label
        >
      </div>
      <div class="mb-3" formArrayName="hobbies">
        <h3>Your Hobbies</h3>
        <button class="btn btn-secondary" (click)="onAddHobby()">
          Add Hooby
        </button>
        <div
          class="form-group"
          *ngFor="let hobbyControl of getHobbyControls(); let idx = index"
        >
          <input type="text" [formControlName]="idx" />
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>

