<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(formEl)" #formEl="ngForm">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            ngModel
            name="username"
          />
          <button class="btn btn-outline-primary mt-3">
            Suggest an Username
          </button>
        </div>
        <div class="mb-3">
          <label for="mail" class="form-label">Mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            ngModel
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="secret-question" class="form-label"
            >Secret Questions</label
          >
          <select
            class="form-select"
            id="secret-question"
            ngModel
            name="secretQuestion"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first Teacher?</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

