<div class="container mt-4">
  <app-reactive-form></app-reactive-form>
  <!-- <div class="row"> -->
  <!--   <div class="col-12"> -->
  <!--     <form (ngSubmit)="onSubmit()" #formEl="ngForm"> -->
  <!--       <div class="mb-3"> -->
  <!--         <label for="username" class="form-label">Username</label> -->
  <!--         <input -->
  <!--           type="text" -->
  <!--           class="form-control" -->
  <!--           id="username" -->
  <!--           ngModel -->
  <!--           name="username" -->
  <!--           required -->
  <!--         /> -->
  <!--         <button -->
  <!--           class="btn btn-outline-primary mt-3" -->
  <!--           (click)="suggestUserName()" -->
  <!--         > -->
  <!--           Suggest an Username -->
  <!--         </button> -->
  <!--       </div> -->
  <!--       <div class="mb-3"> -->
  <!--         <label for="mail" class="form-label">Mail</label> -->
  <!--         <input -->
  <!--           type="email" -->
  <!--           class="form-control" -->
  <!--           id="email" -->
  <!--           ngModel -->
  <!--           name="email" -->
  <!--           required -->
  <!--           email -->
  <!--           #email="ngModel" -->
  <!--         /> -->
  <!--         <div -->
  <!--           *ngIf="email.touched && !email.valid" -->
  <!--           class="alert alert-danger mt-1" -->
  <!--           role="alert" -->
  <!--         > -->
  <!--           Please enter a valid email address! -->
  <!--         </div> -->
  <!--       </div> -->
  <!--       <div class="mb-3"> -->
  <!--         <label for="secret-question" class="form-label" -->
  <!--           >Secret Questions</label -->
  <!--         > -->
  <!--         <select -->
  <!--           class="form-select" -->
  <!--           id="secret-question" -->
  <!--           [ngModel]="defaultQuestion" -->
  <!--           name="secretQuestion" -->
  <!--         > -->
  <!--           <option value="pet">Your first Pet?</option> -->
  <!--           <option value="teacher">Your first Teacher?</option> -->
  <!--         </select> -->
  <!--       </div> -->
  <!--       <div class="form-group"> -->
  <!--         <textarea -->
  <!--           class="form-control mb-3" -->
  <!--           name="questionAnswer" -->
  <!--           rows="3" -->
  <!--           [(ngModel)]="answer" -->
  <!--         > -->
  <!--         </textarea> -->
  <!--         <p>Your reply: {{ answer }}</p> -->
  <!--       </div> -->
  <!--       <button -->
  <!--         class="btn btn-primary" -->
  <!--         type="submit" -->
  <!--         [disabled]="!formEl.valid" -->
  <!--       > -->
  <!--         Submit -->
  <!--       </button> -->
  <!--     </form> -->
  <!--   </div> -->
  <!-- </div> -->
</div>

