<div class="row">
  <div class="col-12">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <label for="projectName" class="form-label">Project Name</label>
        <input
          type="text"
          class="form-control"
          id="projectName"
          placeholder="Enter your project name"
          formControlName="projectName"
        />
        <p
          *ngIf="
            projectForm.get('projectName').touched &&
            projectForm.get('projectName').errors['invalid']
          "
        >
          Project name is forbidden
        </p>
      </div>
      <div class="row mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Enter your email address"
          formControlName="email"
        />
      </div>
      <div class="row mb-3">
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="projectStatus"
        >
          <option selected>Please select project status</option>
          <option value="stable">Stable</option>
          <option value="critical">Critical</option>
          <option value="finished">Finished</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>

