/* You can add global styles to this file, and also import other style files */
.dropdown-toggle.show .dropdown-menu {
  display: block !important;
}

.dropdown-toggle.show + .dropdown-menu {
  display: block !important;
}

.nav-link.active {
  color: dodgerblue !important;
}

